.github-popular-repos {
  display: flex;
  justify-content: center;
}
.gpr-container {
  width: 1440px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.gpr-heading {
  color: black;
  font-weight: 700;
  font-size: 32px;
}
.language-filter-item-ul {
  display: flex;
  gap: 20px;
}
.repository-item-ul {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
